@charset "UTF-8";
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 394px;
    height: 280px;
    border: none;
   overflow: hidden;
  
   }
/* ESTE IFREME NÃO FUNCIONOU */
iframe#frame-spec ::-webkit-scrollbarn {  
    display: none;
}